<p>
  <%= link_to  "New Payload", new_admin_payload_path, :class => "btn btn-sm btn-primary shadow-sm" %>
</p>


<%= will_paginate @payloads %>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>UUID</th>
      <th>owner</th>
      <th>Uploaded</th>
      <th>
    </tr>
  </thead>
  <tbody>
    <% @payloads.each do |payload| %>
      <tr>
        <td><%= payload.id %></td>
        <td><%= payload.uuid %></td>
        <td><%= payload.owner_email %></td>
        <td><%= payload.date_uploaded %></td>
        <td><%= link_to("view", payload_path(payload.uuid)) if payload.complete? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @payloads %>