<%= will_paginate @payloads %>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>UUID</th>
      <th>filename</th>
    </tr>
  </thead>
  <tbody>
    <% @payloads.each do |payload| %>
      <tr>
        <td><%= payload.id %></td>
        <td><%= payload.uuid %></td>
        <td><%= payload.filename %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @payloads %>