<!DOCTYPE html>
<html>
<head>
  <title>Payload</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag "bootstrap.min.js" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <%= render :partial => "shared/navigation" %>

  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <%= yield %>
</body>
</html>
